{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
Herkese selamlar. <br>
Ben Hüseyin "Husolm" Battal. <br>

Meslek Lisesi Bilişim Teknolojileri mezunu & Balıkesir Üniversitesi Bilgisayar Programcılığı birinci sınıf öğrencisiyim. <br>

Bu siteyi oluşturma amacım hayattan edindiğim bilgileri sizlere paylaşma isteğimdir. <br>

Mesela; Yazılım, gündelik konular, eğitici rehberler ve bilim konularındaki bilgi birikimlerimi elimden geldiği kadar sizlere aktarmak. Şimdiden iyi okumalar. <br>

Sosyal Medya Hesaplarım<br>

<a href="https://www.facebook.com" style="color:blue">Facebook Hesabım</a> <br>
<a href="https://www.youtube.com" style="color:red">Youtube Kanalım</a> <br>
<a href="https://www.instagram.com" style="color:purple">Instagram Hesabım</a> <br>
<a href="https://www.discord.com" style="color:gray">Discord Sunucum</a> <br>
<hr>
{% endblock body %}<h3>Hakkımızda</h3>